---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80
PointerAlignment: Right
SpaceAfterCStyleCast: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
Cpp11BracedListStyle: false
BinPackArguments: false
BinPackParameters: false
AlignArrayOfStructures: Left
AllowAllArgumentsOnNextLine: false
